<launch>

  <!-- Bringup without cloud -->
  <include file="$(find elderly_bot)/launch/bringup.launch">
    <arg name="use_cloud" value="false"/>
  </include>

  <!-- EKF (optional but recommended) -->
  <node pkg="robot_localization"
        type="ekf_localization_node"
        name="ekf_localization_node"
        output="screen">
    <rosparam command="load"
              file="$(find elderly_bot)/config/mapping/ekf.yaml"/>
  </node>

  <!-- GMapping -->
  <node pkg="gmapping"
        type="slam_gmapping"
        name="slam_gmapping"
        output="screen">
    <rosparam command="load"
              file="$(find elderly_bot)/config/mapping/gmapping.yaml"/>
  </node>

</launch>
