<?xml version="1.0"?>
<launch>
  <!-- IMU Navigation Pipeline Launch File -->
  
  <arg name="enable_i2c_debug" default="true" 
       doc="Enable I2C debug messages" />
  
  <!-- MPU9250 Node Parameters -->
  <arg name="frame_id" default="imu_link" />
  <arg name="publish_rate" default="100" />
  <arg name="i2c_bus" default="1" />
  <arg name="i2c_address" default="0x68" />
  
  <!-- Madgwick Filter Parameters -->
  <arg name="madgwick_gain" default="0.1" />
  <arg name="madgwick_zeta" default="0.05" />
  
  <!-- 1. MPU9250 Raw Data Publisher -->
  <node name="mpu9250_node" 
        pkg="elderly_bot" 
        type="mpu9250_node.py"
        output="screen"
        respawn="false">
    <param name="frame_id" value="$(arg frame_id)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
    <param name="i2c_bus" value="$(arg i2c_bus)" />
    <param name="i2c_address" value="$(arg i2c_address)" />
    <param name="debug_i2c" value="$(arg enable_i2c_debug)" />
  </node>
  
  <!-- 2. IMU Orientation Filter (Madgwick) -->
  <node name="imu_filter" 
        pkg="imu_filter_madgwick" 
        type="imu_filter_node"
        output="screen"
        respawn="true"
        respawn_delay="2">
    
    <remap from="/imu/data_raw" to="/imu/data_raw" />
    <remap from="/imu/data" to="/imu/data" />
    
    <!-- Sensor Configuration -->
    <param name="use_mag" value="false" />
    <param name="use_magnetic_field_msg" value="false" />
    <param name="publish_tf" value="false" />
    <param name="reverse_tf" value="false" />
    
    <!-- Frame IDs -->
    <param name="fixed_frame" value="odom" />
    <param name="world_frame" value="enu" />
    
    <!-- Filter Parameters -->
    <param name="gain" value="0.9" />
    <param name="zeta" value="$(arg madgwick_zeta)" />
    
    <!-- Magnetometer Calibration -->
    <param name="mag_bias/x" value="-0.00004252" />
    <param name="mag_bias/y" value="0.00004791" />
    <param name="mag_bias/z" value="0.00002824" />
    
    <!-- Orientation Initialization -->
    <param name="stateless" value="false" />
    <param name="remove_gravity_vector" value="true" />
    
    <!-- Output Configuration -->
    <param name="publish_debug_topics" value="false" />
  </node>
</launch>