<launch>
  <!-- ========== BRINGUP HARDWARE ========== -->
  <include file="$(find elderly_bot)/launch/bringup.launch" />
  
  <!-- ========== GMAPPING (SLAM) ========== -->
  <node pkg="gmapping" 
        type="slam_gmapping" 
        name="slam_gmapping"
        output="screen"
        respawn="true"
        respawn_delay="10">
    <rosparam command="load" file="$(find elderly_bot)/config/gmapping.yaml" />
    <param name="map_update_interval" value="1.0" />
    <param name="transform_publish_period" value="0.05" />
    <param name="odom_frame" value="odom" />
    <param name="base_frame" value="base_footprint" />
    <param name="map_frame" value="map" />
  </node>
  
  <!-- ========== FOXGLOVE BRIDGE FOR MAPPING ========== -->
  <node name="foxglove_bridge" 
        pkg="foxglove_bridge" 
        type="foxglove_bridge" 
        output="screen">
    <param name="port" value="8765" />
  </node>
  
  <!-- ========== EXPLORE LITE ========== -->
  <node pkg="explore_lite" 
        type="explore" 
        name="explore"
        output="screen">
    <param name="robot_base_frame" value="base_footprint" />
    <param name="costmap_topic" value="map" />
    <param name="visualize" value="true" />
    <param name="planner_frequency" value="0.5" />
    <param name="progress_timeout" value="30.0" />
    <param name="potential_scale" value="3.0" />
  </node>
</launch>